# Web Framework
Flask==3.0.0
Flask-SQLAlchemy
gunicorn==21.2.0
python-dotenv
Flask-Migrate

# Machine Learning (Core)
tensorflow==2.15.0
keras==2.15.0
numpy<2.0.0
scikit-learn
h5py

# Audio & Video Processing
librosa
opencv-python-headless
soundfile
pydub
pillow

# Utilities
requests
